{% load static %}
<link rel="shortcut icon" href="{%  static 'favicon/favicon.ico' %}">

<head>
<title> Webserver Review Page </title>
	<script>

	function changeImage(image)
	{
	var player = document.getElementById("videoplayer");
	var source = document.getElementById("videosource");
	player.pause()
	source.setAttribute('src', image);
	player.load()
	player.play()
	return false;
	}

	</script>
	<link rel="stylesheet" type="text/css" href="{%  static 'style.css' %}">
</head>
<body>
<table style="height:100%; width:100%; position:absolute; top:0; bottom:0; left:0; right:0;" border="0px">
	<tr style="heigh:100%">
		<td style="width:100%;">
			<div style="height:100%; width:100%">
				<video id="videoplayer" width="100%" height="100%" controls>
					<source id="videosource" src="" type="video/webm">
  					Your browser does not support the video tag.
				</video>
			</div>
		</td>
		<td>
			<table style="height:100%; width:100%;" border="0px">
				<tr style="height:100%;">
					<td style="width:100%;padding-top:20px;" valign="top" name="listview">
						<ul style="list-style-type:none">
							{% for image in images %}
								<li>
									{{image}}
									<button onclick="location.href='/static/Recordings/{{image}}'" type="button">Download</button>
									<button onclick="changeImage('/static/Recordings/{{image}}');">
										View
									</button>
								</li>
							{% endfor %}
						</ul>
					</td>
				</tr>
				<tr style="height:15vh;">
					<td>
						<table style="height:100%; width:60vh;" border="0px">
							<tr>
								<td style="width:15vh;">
									Flag Current
								</td>
								<td style="width:15vh;">
									Delete Current
								</td>
								<td style="width:15vh;">
									<a href="/">
										Options
									</a>
								</td>
								<td style="width:15vh;">
									<a href="/control/">
										Control Robot
									</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>